# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [34]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [35]:
# Run this code:

pokemon = pd.read_csv("https://raw.githubusercontent.com/eduardoheros/lab-two-sample-hypothesis-tests/master/pokemon.csv")

Let's start off by looking at the `head` function in the cell below.

In [36]:
pokemon.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [37]:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [38]:
legendary=pokemon[pokemon.Legendary]

In [39]:
no_legendary=pokemon[~pokemon.Legendary]

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [40]:
# Your code here:
no_legendary_mean=no_legendary.Total.mean()
no_legendary_std=no_legendary.Total.std()
legendary_mean=legendary.Total.mean()
legendary_mean=legendary.Total.std()

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [41]:
stats.ttest_ind(legendary.Total,no_legendary.Total)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [42]:
##Las dos muestras son distintas, no corresponden a la misma población si defino mi significancia menor a 0.001

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [44]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [45]:
pokemon[pokemon["Type 1"]=="Water"].Total.mean()

430.45535714285717

In [46]:
pokemon[pokemon["Type 1"]=="Water"].Total.std()

113.18826606431458

In [47]:
pokemon[pokemon["Type 1"]!="Water"].Total.mean()

435.85901162790697

In [48]:
pokemon[pokemon["Type 1"]!="Water"].Total.std()

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [49]:
water=pokemon[pokemon["Type 1"]=="Water"].Total
no_water=pokemon[pokemon["Type 1"]!="Water"].Total

In [50]:
stats.ttest_ind(water,no_water)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [51]:
# Your conclusions here:
##Con un nivel de significancia de 0.05, no puedo rechazar la hipótesis nula, entonces consideramos que los pokemones de agua tienen misma media que los de otro tipo

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [52]:
stats.ttest_rel(pokemon.Defense,pokemon.Attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [53]:
##Definida una significancia de 0.01, rechazamos hipótesis nula, encontramos que la media de "Ataque" es diferente de la media de "Defensa"

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [54]:
stats.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [55]:
##Definida una significancia de 0.01, no rechazamos hipótesis nula, encontramos que la media de "Ataque" es igual de la media de "Defensa"

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [56]:
stats.ttest_1samp(pokemon["Sp. Atk"]-pokemon["Sp. Def"],popmean=0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [62]:
# Your code here:
pokemon_cross=pd.crosstab(pokemon["Type 1"],pokemon.Legendary,values=pokemon.Total,aggfunc="sum").fillna(0)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [63]:
stats.chi2_contingency(pokemon_cross)

(48488.13313877232, 0.0, 17, array([[23034.00690642,  3111.99309358],
        [12173.33081285,  1644.66918715],
        [15520.15985888,  2096.84014112],
        [17187.84803581,  2322.15196419],
        [ 6187.97768342,   836.02231658],
        [ 9905.69776087,  1338.30223913],
        [20984.85598221,  2835.14401779],
        [ 1709.09406404,   230.90593596],
        [12391.81294063,  1674.18705937],
        [25971.18196287,  3508.81803713],
        [12333.6685034 ,  1666.3314966 ],
        [ 9164.79667435,  1238.20332565],
        [34679.63290259,  4685.36709741],
        [ 9845.791371  ,  1330.208629  ],
        [23900.00663062,  3228.99336938],
        [17588.69226217,  2376.30773783],
        [11600.69620377,  1567.30379623],
        [42472.7494441 ,  5738.2505559 ]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [64]:
##Valor p=0, se puede rechazar hipótesis nula